:root {
    --primary: goldenrod;
    --secondary: #2b3452;
}
.header nav {
    display: flex;
    gap: 16px;
    justify-content: end;
    max-width: 1200px;
    margin: 0 auto;
}

.header nav h1 {
    margin-right: auto;
    border-bottom: 3px solid var(--primary);
}

.header span a {
    text-decoration: none;
    padding: 6px;
    color: var(--primary);
    border-radius: 4px;
}

.header span a.active {
    color: grey;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    border: solid 1px rgba(0, 0, 0, 0.3);
    color: black;
    margin: 5px;
    width: 212px;
    padding: 10px 10px;
    border-radius: 10px;
}