.body{
    background-image: url(../images//bg.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;

    overflow: hidden;
}

.main-container{
    /* border:solid 1px red; */
    display: flex;
    justify-content: space-around;
    width:75%;
    margin: auto;
    margin-top: 50px;
}

.candidate-container{
    letter-spacing: 1px;
    /* border:solid 5px rgba(0,0,0,0.1); */
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    align-items: center;
    max-width: 325px;
    /* background-color: rgba(248 ,247 ,190 ,0.85); */
    background-color: rgba(255 ,255 ,240 ,0.9);

    padding-bottom: 10px;
    border-radius: 15px;
}

.candidate-picture{
    width:275px;
    height:250px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 15%;
    margin:7px 0px;
}

.candidate-content{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    margin-bottom: 5px;
}
.candidate-name{
    font-weight: bold;
}.candidate-description{
    height:70px;
    padding:0px 10px;
    overflow: hidden;
    /* background-color: rgba(255 ,255 ,255 ,0.5); */
}

.vote-button{
    cursor: pointer;
    margin:2px 0px;
    letter-spacing: 1px;
    font-weight: bold;
    border:solid 1px rgba(0,200,0,0.7);
    padding:8px 20px;
    border-radius: 10px;
    color:white;
    background-color: rgba(0,200,0,0.5);
    width:fit-content;
    box-shadow: -1px -1px 1px grey;
    transition: all 0.15s ease-in-out;

}
.vote-button:hover{
    box-shadow: 2px 2px 3px grey;
}

@media screen and (max-width:1440px){
    .main-container{
        /* border:solid 1px red; */
        width:100%;
    }
    
    .candidate-container{
        /* border:solid 5px rgba(0,0,0,0.1); */
        max-width: 300px;
    }
    .candidate-picture{
        width:250px;
        height:225px;
    }
}

@media screen and (max-width:950px){
    .main-container{

        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        width:100%;
        margin-top: 0;
        overflow-y: auto;
        height:1%;
        padding-top: 400px;
        padding-bottom: 300px;
    }
    
    .candidate-container{
        max-width: 300px;
    }
    
    .candidate-picture{
        width:250px;
        height:200px;

    }
}